<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruits_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,168}</string>
                <key>spriteSourceSize</key>
                <string>{191,168}</string>
                <key>textureRect</key>
                <string>{{0,0},{191,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_04.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,168}</string>
                <key>spriteSourceSize</key>
                <string>{190,168}</string>
                <key>textureRect</key>
                <string>{{191,0},{190,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_05.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,168}</string>
                <key>spriteSourceSize</key>
                <string>{205,168}</string>
                <key>textureRect</key>
                <string>{{0,168},{205,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_06.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,168}</string>
                <key>spriteSourceSize</key>
                <string>{193,168}</string>
                <key>textureRect</key>
                <string>{{205,168},{193,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,157}</string>
                <key>spriteSourceSize</key>
                <string>{191,157}</string>
                <key>textureRect</key>
                <string>{{0,336},{191,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_09.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,157}</string>
                <key>spriteSourceSize</key>
                <string>{190,157}</string>
                <key>textureRect</key>
                <string>{{191,336},{190,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_10.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,157}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{0,493},{205,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_11.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,157}</string>
                <key>spriteSourceSize</key>
                <string>{193,157}</string>
                <key>textureRect</key>
                <string>{{205,493},{193,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_12.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,173}</string>
                <key>spriteSourceSize</key>
                <string>{191,173}</string>
                <key>textureRect</key>
                <string>{{0,650},{191,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_13.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,173}</string>
                <key>spriteSourceSize</key>
                <string>{190,173}</string>
                <key>textureRect</key>
                <string>{{191,650},{190,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_14.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,173}</string>
                <key>spriteSourceSize</key>
                <string>{205,173}</string>
                <key>textureRect</key>
                <string>{{0,823},{205,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,173}</string>
                <key>spriteSourceSize</key>
                <string>{193,173}</string>
                <key>textureRect</key>
                <string>{{205,823},{193,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruits.png</string>
            <key>size</key>
            <string>{398,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d5ba6a8671914ede5adf84aa9e6c38:13eddff6a31e56ea771c94bae9f3aea1:56755924368b5e18801fdad7263bb90b$</string>
            <key>textureFileName</key>
            <string>fruits.png</string>
        </dict>
    </dict>
</plist>
